<a href="#" class="flex items-center gap-x-4 px-6 py-3 text-sm/6 font-semibold text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-white/5">
    <span class="inline-flex size-8 items-center justify-center rounded-full bg-gray-500 outline -outline-offset-1 outline-black/5 dark:bg-gray-800 dark:outline-white/10">
        <span class="text-sm font-medium text-white">{{ app.user.initials }}</span>
    </span>
    <span class="sr-only">Your profile</span>
    <span aria-hidden="true">{{ app.user.username }}</span>
</a>
