{% props id, content = null %}

<div id="message-{{ id }}" class="flex flex-col justify-start items-start w-full gap-2.5" {{ attributes }}>
    <div class="w-full prose dark:prose-invert">
        {% if content is not null %}
            {{ content|markdown_to_html }}
        {% endif %}
    </div>
</div>
