{% props id, content %}

<div id="message-{{ id }}" class="flex flex-col justify-start items-start w-full gap-2.5" {{ attributes }}>
    <div class="flex items-center w-full text-sm font-normal text-gray-500 dark:text-gray-400">
        <twig:ux:icon name="eos-icons:bubble-loading" class="size-5"/>
        <span class="ml-4">{{ content|trans }}</span>
    </div>
</div>
